

<!doctype html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org" th:replace="normal/base::Layout(~{::section})">
<head>
    <meta charset="UTF-8" />
    <title>Settings</title>
</head>
<body>
<section>


<div class="container">
    <!-- Message box to show success or not succssfull Added-->
    <div th:if="${session.message}" class="container">

        <div th:classappend="${'alert-'+session.message.type}"  class="alert text-center"
             role="alert"><span th:text="${session.message.content}"></span>
            <th:block th:text="${#session.removeAttribute('message')}"></th:block>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">

                    <h3 class="my-3 text-center">Change Password</h3>


                    <form th:action="@{/user/change-password}" method="post">
<!--                        old password field-->
<div class="form-group">
    <input  name="oldPassword" type="text" class="form-control" placeholder="Enter old password" />
</div>
                        <!--                        new  password field-->
                        <div class="form-group">
                            <input name="newPassword"type="text" class="form-control" placeholder="Enter new password" />
                        </div>
                        <!--                        confirm new  password field-->
                        <div class="form-group">
                            <input name="confirmPassword"type="text" class="form-control" placeholder="Confirm new password" />
                        </div>


<div class="container text-center">
    <button  type="submit" class="btn btn-success">
        Change
    </button>

    <button type="reset" class="btn btn-warning">
        Reset
    </button>
</div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


    <script>
        $(document).ready(() =>  {
        $('.item').removeClass('active');
        $('#setting-link').addClass("active");
        });
    </script>

</section>

</body>
</html>
